.tag {
	display: inline-block;
	margin-right: 4px;
	border-radius: 50%;
	padding: 5px;
}

.red {
	background-color: #a72b38;
}

.orange {
	background-color: #ef8f3c;
}

.green {
	background-color: #59cb6d;
}